$primary-color: #0f6797;
$secondary-color:#22c7b7;
$grey: #ededed;
$dark-grey: #222;
$med-grey: #B6B6B6;


%primary-font{
font-family: 'Lato', sans-serif;
font-weight: 400;
}

%secondary-font {
font-family: 'Lato', sans-serif;
font-weight: 700;
text-transform: uppercase;
}

%heading-font {
font-family: 'Lato', sans-serif;
font-weight: 700;
text-transform: uppercase;
}


%bold-font{
font-family: 'Lato', sans-serif;
font-weight: 900;
text-transform: uppercase;
}

%script-font {
	font-family: 'Dancing Script', cursive;
}
