<!-- start of leftmargin090.html -->
<% if (!WebSite.isThisPageInList(request, "register,delivery,paysecure,confirm,quickpay")&& !userSession.isHomePage()) { %>

<!--<div id="testimonials" class="asidebox">
	<div class="ir-testim" ir-fade="false" ir-amount="3" ir-quote="false">
		<h2>Customer Testimonials</h2>
		<span testim-by="Tony">This is testimonial 1</span>
		<span testim-by="Eric">This is testimonial 2</span>
		<span testim-by="Rosie">This is testimonial 3</span>
		<span testim-by="Steve">This is testimonial 4</span>
		<span testim-by="Martha">This is testimonial 5</span>
		<span testim-by="Nick">This is testimonial 6</span>
	</div>
</div>-->
	
<% } %>
<!-- end of leftmargin090.html -->