<div class="footerText">Powered by <a href="http://www.intelligentretail.co.uk">Intelligent Retail</a>, leading multichannel epos and ecommerce systems.</div>

<%if (request.getRequestURI().indexOf("index.jsp") == -1 && request.getRequestURI().indexOf("host.jsp") == -1 && request.getRequestURI().indexOf("sitemap.jsp") == -1) out.write("<head>\n<meta http-equiv=\"Pragma\" content=\"no-cache\" />\n<meta http-equiv=\"Expires\" content=\"-1\" />\n</head>"); %>




	</div>
	<!-- .main-wrap -->

  
</body>
</html>