<li><a href="?price1=0&amp;price2=50.00&amp;priceDesc=under<%=currencySymbol%>50<%=tagParamsPrice%>">under&nbsp;<%=currencySymbol%>50</a></li>
<li><a href="?price1=50.00&amp;price2=100.00&amp;priceDesc=<%=currencySymbol%>50-100<%=tagParamsPrice%>"><%=currencySymbol%>50-100</a></li>
<li><a href="?price1=100&amp;price2=150.00&amp;priceDesc=<%=currencySymbol%>100-150<%=tagParamsPrice%>"><%=currencySymbol%>100-150</a></li>
<li><a href="?price1=150&amp;price2=9999.99&amp;priceDesc=over<%=currencySymbol%>150+<%=tagParamsPrice%>"><%=currencySymbol%>150+</a></li>