/*-------------------------------toadd_20080627.css------------------------*/

.button_basket {
	height: 22px;
	font-size:10px;
	color: #fff;
	background: #ae0e28;
}

.pagesubtitle {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	background-color: transparent;
	font-weight: normal;
}

/*-------------------------------toadd_20080627.css------------------------*/
